{% extends 'base.html' %}
{% load staticfiles %}


{% block page %}
<div class="row banner">
    <div class="col-md-12">

        <img src="http://placehold.it/900x100" alt="">

    </div>
</div>


<div class="row">
    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">THB 500</h4>
                <h4>Item1</h4>
                <p>This is my first Item,Ireally like it Yes !</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">THB 500</h4>
                <h4>Item1</h4>
                <p>This is my first Item,Ireally like it Yes !</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">THB 500</h4>
                <h4>Item1</h4>
                <p>This is my first Item,Ireally like it Yes !</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">THB 500</h4>
                <h4>Item1</h4>
                <p>This is my first Item,Ireally like it Yes !</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">THB 500</h4>
                <h4>Item1</h4>
                <p>This is my first Item,Ireally like it Yes !</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">THB 500</h4>
                <h4>Item1</h4>
                <p>This is my first Item,Ireally like it Yes !</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}